footer {
  background-color: #0b0912; /* Color de fondo del footer */
  color: #0cc6ff; /* Color del texto en el footer */
  padding: 20px; /* Espaciado interno del footer */
  text-align: center; /* Alineación del texto en el centro */
  
}
  
.footer-content {
  
  max-width: 1200px; /* Ancho máximo del contenido del footer */
  margin: 0 auto; /* Centra el contenido del footer */
 
}